{
  "presets": [
    ["next/babel", {
      "styled-jsx": {
        "plugins": [
          "styled-jsx-plugin-stylus"
        ]
      }
    }]
  ],
  "env": {
    "test": {
      "presets": [
        "next/babel"
      ]
    }
  }
}
